{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "require-jsdoc": "off",
    "linebreak-style": 0,
    "eol-last": "off",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false
      }
    ],
    "comma-dangle": "off",
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true,
        "skipBlankLines": true
      }
    ],
    "arrow-parens": "off",
    "operator-linebreak": "off",
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
